<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
        <svg class="fill-gray-100 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 638.76 201.85">
          <path class="cls-1" d="M71.47,57.31c43.46,0,64.14,27.4,64.14,69.89v12.02H35.6c2.62,18.73,15.45,30.75,42.15,30.75s40.32-10.62,45.55-14.54l11.52,26.56c-8.38,6.99-27.75,19.85-63.62,19.85C26.7,201.85,0,175.29,0,128.88S32.2,57.31,71.47,57.31ZM35.34,115.46h66.5c-.52-16.22-11.78-28.24-30.89-28.24s-32.99,10.06-35.6,28.24Z"/>
          <path class="cls-1" d="M184.53,90.86v46.13c0,24.32,7.6,31.58,26.18,31.58,7.85,0,13.87-1.96,16.23-3.07v31.31c-2.88,1.4-11.79,4.47-24.61,4.47-32.2,0-53.67-12.01-53.67-60.93v-49.49h-19.12l.1-.11,54.88-60.83v30.75h42.41v30.2h-42.41Z"/>
          <path class="cls-1" d="M267.52,76.04h.52c6.02-6.43,20.16-18.73,46.86-18.73,32.73,0,56.55,19.01,56.55,61.79v79.4h-35.87v-70.73c0-27.68-12.3-38.02-32.72-38.02-17.8,0-30.11,10.62-35.34,16.49v92.26h-35.87V0h35.87v76.04Z"/>
          <path class="cls-1" d="M450.26,201.85c-40.58,0-75.14-23.76-75.14-72.13s34.56-72.41,75.14-72.41,75.14,23.76,75.14,72.41-34.56,72.13-75.14,72.13ZM450.26,89.18c-22.51,0-38.22,13.98-38.22,40.26s15.71,39.98,38.22,39.98,38.22-13.7,38.22-39.98-15.97-40.26-38.22-40.26Z"/>
          <path class="cls-1" d="M624.36,99.53c-7.59-4.75-21.73-13.14-43.2-13.14-16.23,0-23.3,4.19-23.3,11.18s4.45,10.62,33.51,16.21c28.8,5.59,47.39,15.94,47.39,42.77,0,28.8-23.04,45.29-58.91,45.29s-51.57-12.3-58.12-17.05l10.73-29.36c6.28,5.03,21.21,16.22,46.08,16.22,18.33,0,24.61-5.31,24.61-12.3s-4.19-11.46-32.73-17.34c-28.54-5.87-46.34-15.1-46.34-43.05,0-26.28,23.82-41.66,57.34-41.66,29.58,0,44.77,8.95,53.67,14.54l-10.73,27.68Z"/>
          <polygon class="cls-2" points="184.6 29.81 184.6 60.67 184.53 60.67 184.53 29.91 129.65 90.75 129.62 90.75 184.6 29.81"/>
        </svg>  
      </a>
      <p class="my-6 text-gray-500 dark:text-gray-400">Suporte jurídico especializado em recuperação judicial e gestão de falência.</p>
      <ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
          <li>
              <a href="/" class="mr-4 hover:underline md:mr-6 ">Voltar ao Início</a>
          </li>
          <li>
              <a href="/lawsuits" class="mr-4 hover:underline md:mr-6">Administração Judicial</a>
          </li>
          <li>
              <a href="/#contact" class="mr-4 hover:underline md:mr-6">Contato</a>
          </li>
      </ul>
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024<a href="#" class="hover:underline"> Ethos™</a>. Todos os direitos Reservados.</span>
  </div>
</footer>