

<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <svg class="fill-gray-100 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 638.76 201.85">
      <path class="cls-1" d="M71.47,57.31c43.46,0,64.14,27.4,64.14,69.89v12.02H35.6c2.62,18.73,15.45,30.75,42.15,30.75s40.32-10.62,45.55-14.54l11.52,26.56c-8.38,6.99-27.75,19.85-63.62,19.85C26.7,201.85,0,175.29,0,128.88S32.2,57.31,71.47,57.31ZM35.34,115.46h66.5c-.52-16.22-11.78-28.24-30.89-28.24s-32.99,10.06-35.6,28.24Z"/>
      <path class="cls-1" d="M184.53,90.86v46.13c0,24.32,7.6,31.58,26.18,31.58,7.85,0,13.87-1.96,16.23-3.07v31.31c-2.88,1.4-11.79,4.47-24.61,4.47-32.2,0-53.67-12.01-53.67-60.93v-49.49h-19.12l.1-.11,54.88-60.83v30.75h42.41v30.2h-42.41Z"/>
      <path class="cls-1" d="M267.52,76.04h.52c6.02-6.43,20.16-18.73,46.86-18.73,32.73,0,56.55,19.01,56.55,61.79v79.4h-35.87v-70.73c0-27.68-12.3-38.02-32.72-38.02-17.8,0-30.11,10.62-35.34,16.49v92.26h-35.87V0h35.87v76.04Z"/>
      <path class="cls-1" d="M450.26,201.85c-40.58,0-75.14-23.76-75.14-72.13s34.56-72.41,75.14-72.41,75.14,23.76,75.14,72.41-34.56,72.13-75.14,72.13ZM450.26,89.18c-22.51,0-38.22,13.98-38.22,40.26s15.71,39.98,38.22,39.98,38.22-13.7,38.22-39.98-15.97-40.26-38.22-40.26Z"/>
      <path class="cls-1" d="M624.36,99.53c-7.59-4.75-21.73-13.14-43.2-13.14-16.23,0-23.3,4.19-23.3,11.18s4.45,10.62,33.51,16.21c28.8,5.59,47.39,15.94,47.39,42.77,0,28.8-23.04,45.29-58.91,45.29s-51.57-12.3-58.12-17.05l10.73-29.36c6.28,5.03,21.21,16.22,46.08,16.22,18.33,0,24.61-5.31,24.61-12.3s-4.19-11.46-32.73-17.34c-28.54-5.87-46.34-15.1-46.34-43.05,0-26.28,23.82-41.66,57.34-41.66,29.58,0,44.77,8.95,53.67,14.54l-10.73,27.68Z"/>
      <polygon class="cls-2" points="184.6 29.81 184.6 60.67 184.53 60.67 184.53 29.91 129.65 90.75 129.62 90.75 184.6 29.81"/>
    </svg>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
    <%= link_to ENV['DEBTOR_ADMIN_URL'], class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-900 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
      Área Restrita
      <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg>
    <% end %>
    <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="/" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Início</a>
      </li>
      <li>
        <a href="/lawsuits" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Adm. Judicial</a>
      </li>
      <li>
        <a href="#about" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Sobre</a>
      </li>
      <li>
        <a href="#services" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Serviços</a>
      </li>
      <li>
        <a href="#contact" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contato</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
