<section class="bg-white dark:bg-gray-900" id='about'>
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://images.unsplash.com/photo-1506787497326-c2736dde1bef?q=80&w=2792&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://images.unsplash.com/photo-1507831228884-93d43e81a99d?q=80&w=2785&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="office content 2">
        </div>
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Compromisso com a solidez</h2>
            <p class="mb-4">Somos um escritório jurídico especializado em direito empresarial, gestão de falências e recuperação judicial. Nossa equipe de advogados experientes oferece soluções estratégicas para ajudar empresas a superar crises e crescer de forma sustentável.</p>
            <p>Com foco na transparência e na confiança, proporcionamos assessoria personalizada e eficaz para reestruturação de negócios e resolução de litígios. Estamos comprometidos em transformar desafios em oportunidades, sempre ao lado de nossos clientes em cada etapa do caminho.</p>
        </div>
    </div>
</section>